{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"plugins": ["prettier-plugin-astro"],
	"tailwindStylesheet": "./src/styles/tailwind.css",
	"pluginSearchDirs": false,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
