---
import {Layout, Link} from "@components";
// import { db } from "@directus";
// import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
	//const articles = (await db.request(readItems("articles"))) || {};

	// override for now
	return [{ params: { page: 1 } }];
}
---

<Layout title="Articles">
	<section id="hero" class="pt-hero">
		<div class="container flex flex-col items-start">
			<div>Articles</div>
			<Link href="/articles/article-slug">Article detail page</Link>
		</div>
	</section>
</Layout>
