@import "tailwindcss";

html {
	font-family: "codec-pro", system-ui, sans-serif;
	scrollbar-gutter: stable;
	overflow: clip scroll;
	touch-action: pan-y;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	@apply flex min-h-[100dvh] flex-col;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-bold leading-normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-kerning: none;
	-webkit-text-rendering: optimizeSpeed;
	text-rendering: optimizeSpeed;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

section {
	@apply py-7 sm:py-9 md:py-12 lg:py-16;
}

h1 {
	@apply text-[29.5vw]/[75%] md:text-[30.15vw]/[75%] -tracking-[0.2vw] md:-tracking-[0.5vw];
}

h2 {
	@apply text-[clamp(6.25rem,-7.5rem+25vw,20rem)]/[80%];
}

h4 {
	@apply text-[clamp(3rem,2rem+2.667vw,4rem)]/[80%];
}

h5 {
	@apply text-[clamp(2.5rem,1.5rem+1.333vw,3rem)]/[80%];
}

h6 {
	@apply text-[clamp(1rem,1.2vw,1.5rem)]/[120%] font-light uppercase;
}

p {
	@apply text-base/[120%] font-light;
}

.section-title {
	@apply font-bold text-3xl/none uppercase;
}

.xxx {
	@apply border border-sky-500/30 bg-sky-500/30;
}

.container {
	@apply mx-auto w-full h-full max-w-lg px-4 sm:px-8;
}

.button {
	@apply h-12 lg:h-16 bg-black dark:bg-white dark:hover:bg-transparent hover:bg-transparent text-white dark:text-black hover:text-black dark:hover:text-white border border-black dark:border-white rounded-full px-12 flex items-center justify-center uppercase font-medium;

	&.small {
		@apply h-12 px-6;
	}
}

.dot {
	/* Small dot divider */
	@apply w-1 h-1 rounded-full bg-black/30 dark:bg-white/30 shrink-0;
}

.hover {
	/* Helper global hover effect */
	@apply hover:opacity-60! transition-opacity duration-300;
}

.pt-nav {
	@apply pt-(--navbar-height);
}

hr {
	@apply h-px w-full bg-black/10 dark:bg-white/10 border-none;
}

/* Custom font override
.font-inter {
	font-family: Inter, system-ui, sans-serif;
}
*/

.scroll-disabled {
	overflow: hidden;
	touch-action: none;
}

input:-internal-autofill-selected {
	background-color: transparent !important;
}

/* Global variables */
:root {
	--navbar-height-closed: 100px;
	--navbar-height: var(--navbar-height-closed);
}

/* Enable zero-JavaScript view transitions */
@view-transition {
	navigation: auto;
}

/* Customize the default transition */
::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 300ms; /* Adjust the duration as needed */
	animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1); /* Custom easing function */
}

/* Optional: Fade transition for the whole page */
::view-transition-old(root) {
	animation: fade-out 300ms cubic-bezier(0.6, 0, 0.4, 1) both;
}

/* ::view-transition-old(#navigation) {
	animation: fade-out 2000ms  cubic-bezier(0.6, 0, 0.4, 1) both;
} */

::view-transition-new(root) {
	animation: fade-in 300ms cubic-bezier(0.6, 0, 0.4, 1) both;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Fix for View Transition API z-index issue */
nav {
	view-transition-name: navigation;
}

::view-transition-group(navigation) {
	z-index: 100;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* svg fill currentColor path by default */
svg path:not([fill]) {
	fill: currentColor;
}

/* navigation opened */
.navigation-opened .navigation-links {
	@apply pointer-events-auto opacity-100 h-lvh lg:h-full;
}
.navigation-opened .navigation-links a {
	@apply opacity-100 translate-y-0;
}
