---
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
---

<Section id="buttons" title="Buttons" class="pt-nav">
	<Button>Primary CTA</Button>
	<Button class="secondary">Secondary CTA</Button>
</Section>
