---
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="About">
	<section id="hero" class="pt-nav pb-0 w-full h-svh flex flex-col items-start justify-end">
		<h1 data-split-text>About</h1>
	</section>
</Layout>
