---
import Layout from "@src/layouts/Layout.astro";

import reel from "@videos/reel.mp4";
---

<Layout title="About">
	<section
		id="hero"
		class="pt-[calc(var(--navbar-height)*1.5)] w-full h-svh flex flex-row items-start justify-start gap-16 pl-8 bg-white dark:bg-dark transition-mode"
	>
		<h1 data-split-text>About</h1>
		<p data-split-text class="max-w-[30%] pb-4">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia doloribus maxime, cum adipisci aspernatur
			ex porro, in quos nemo, aliquam sed! Esse voluptate nulla expedita quae a! Sit temporibus eius voluptate
			minus beatae labore saepe molestias sequi adipisci dolorum dolores qui voluptatibus consequuntur quod
			delectus, molestiae soluta, dicta quae reprehenderit rem similique ratione tenetur ducimus ut. Excepturi
			rerum vitae eligendi recusandae quia accusamus enim, tempora voluptates assumenda. Quis quidem perferendis
			maiores et quos dolor, cupiditate adipisci ea at eum voluptate nobis omnis, ipsum dolorum officiis, quae
			veritatis illum mollitia iusto sunt quod aperiam. Perferendis, nemo cum quo delectus quis, quos asperiores,
			ratione facere esse sequi hic. Necessitatibus rerum nisi adipisci cum blanditiis nemo iure earum mollitia
			provident dolor nobis, dignissimos voluptatem error ipsa numquam. Atque itaque modi maxime placeat error
			minus quisquam, sequi explicabo delectus saepe impedit, asperiores, cupiditate esse ullam laborum numquam
			ea. Illo, ipsa doloribus dolor sed voluptatum commodi dignissimos sint iure ut obcaecati veritatis magni
			iste distinctio exercitationem.
		</p>
	</section>
</Layout>
