---
import Layout from "@src/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="About">
	<section
		id="hero"
		class="pt-[calc(var(--navbar-height)*1.5)] w-full flex flex-col items-start justify-start gap-16 pl-8 bg-white dark:bg-dark transition-mode"
	>
		<h1 data-split-text>Gallery</h1>
		<div class="w-full grid grid-cols-4 gap-2 pb-8">
			{
				[...Array(16)].map((_, index) => (
					<div class="overflow-hidden">
						<img
							src={`/playgrounds/${index + 1}.jpg`}
							alt={`Playground ${index + 1}`}
							class="w-full object-contain scale-[1.01]"
						/>
					</div>
				))
			}
		</div>
	</section>
</Layout>
