---
import Layout from "@src/layouts/Layout.astro";

import DiscordIcon from "@icons/socials/discord.svg";
import InstagramIcon from "@icons/socials/instagram.svg";
import LinkedInIcon from "@icons/socials/linkedin.svg";
import PatreonIcon from "@icons/socials/patreon.svg";
import PinterestIcon from "@icons/socials/pinterest.svg";
import TelegramIcon from "@icons/socials/telegram.svg";
import TikTokIcon from "@icons/socials/tiktok.svg";
import TwitchIcon from "@icons/socials/twitch.svg";
import TwitterIcon from "@icons/socials/twitter.svg";
import YouTubeIcon from "@icons/socials/youtube.svg";
---

<Layout title="Homepage">
	<section id="hero" class="pt-nav pb-0 w-full h-svh flex flex-col items-start justify-end">
		<div class="flex gap-4">
			<DiscordIcon class="text-white h-8" />
			<InstagramIcon class="text-white h-8" />
			<LinkedInIcon class="text-white h-8" />
			<PatreonIcon class="text-white h-8" />
			<PinterestIcon class="text-white h-8" />
			<TelegramIcon class="text-white h-8" />
			<TikTokIcon class="text-white h-8" />
			<TwitchIcon class="text-white h-8" />
			<TwitterIcon class="text-white h-8" />
			<YouTubeIcon class="text-white h-8" />
		</div>
		<h1 data-split-text>Starter</h1>
	</section>
</Layout>
