---
import Layout from "@src/layouts/Layout.astro";

import reel from "@videos/reel.mp4";
---

<Layout title="Homepage">
	<section
		id="hero"
		class="pt-nav pb-0 w-full h-svh flex flex-col items-start justify-end gap-8 pl-8 bg-white dark:bg-dark"
	>
		<video src={reel} autoplay playsinline loop muted class="w-[clamp(15rem,30vw,40rem)] rounded-2xl"></video>
		<h1 class="animate-heading">Starter</h1>
	</section>
</Layout>
