---
import Layout from "@src/layouts/Layout.astro";

const title = "Testing title";
---

<script define:vars={{ title }} type="module">
	import { $ } from "@wmdigi/dom";
	$("#article-content").html(title);
</script>

<Layout title="Homepage">
	<section id="hero" class="pt-hero pb-0 w-full h-svh flex flex-col items-start justify-end">
		<div class="container"></div>
		<h1 data-split-text>Starter</h1>
	</section>
</Layout>
