---
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="Homepage">
	<section id="hero" class="pt-nav pb-0 w-full h-svh flex flex-col items-start justify-end bg-red-400">
		<h1 class="animate-heading">Starter</h1>
	</section>
</Layout>
