---
// Components
import Layout from "@src/layouts/Layout.astro";
import Button from "@components/Button.astro";
---

<Layout>
	<section
		id="hero"
		class="pt-nav w-full h-svh flex flex-col items-center justify-center gap-xl bg-white dark:bg-dark transition-mode"
	>
		<h1 class="h1 leading-[65%]">starter</h1>
		<a href="/library">
			<Button>Get Started</Button>
		</a>
	</section>
</Layout>
