---
import Layout from "@src/layouts/Layout.astro";
import CartList from "@components/CartList.astro";
---

<Layout title="Cart">
	<section id="hero" class="pt-hero w-full min-h-svh">
		<div class="container flex flex-col items-start justify-start gap-8 md:gap-16">
			<h2 data-split-text>Cart</h2>
			<CartList server:defer />
		</div>
	</section>
</Layout>
