---
import CartIcon from "@icons/CartIcon.astro";

const locals = Astro.locals;
---

<script>
	import { $ } from "@wmdigi/dom";
	import { cart as cartStore } from "@store";
	import { products } from "@lib/data";
	import type { Product } from "@src/types/cart";
	import { getGroupedProducts } from "@lib/utils";

	const cart = cartStore.get()

	let slugs = []

	if ($("#cart").first.dataset.cart) {
		slugs = $("#cart").first.dataset.cart?.split(",")
	}
	

	const groupedProducts = getGroupedProducts(slugs);

	cartStore.set({ ...cart, total: slugs.length, products: groupedProducts });

	cartStore.subscribe((cart) => {
		if (cart.total > 0 && !$("#cart").hasClass("server-loaded")) {
			$("#cart").addClass("server-loaded")
		}
		console.log("Cart Store Updated[Cart.astro]: ", cart);
		$("#cart-indicator").first.innerHTML = cart.total
	})
</script>

<a id="cart" href="/cart" class="relative" data-cart={locals.cart.products}>
	<CartIcon class:list={["w-8 text-black dark:text-white"]} />
	<span
		id="cart-indicator"
		class="absolute top-0 right-0 translate-x-1/3 -translate-y-1/3 w-5 h-5 flex items-center justify-center pt-px text-xs text-black bg-gradient rounded-full"
	>
		{locals.cart.products.length}
	</span>
</a>