---
import CartIcon from "@icons/CartIcon.astro";
---

<script>
	import { $ } from "@wmdigi/dom";
	import { cart } from "@store";

	cart.subscribe((cart) => {
		const cartCount = cart ? cart.products.length : 0
		cartCount > 0 ? $("#cart-indicator").first.classList.add("not-empty") : $("#cart-indicator").first.classList.remove("not-empty")
		$("#cart-indicator").first.innerHTML = cartCount
	})
</script>

<a id="cart" href="/cart" class="relative">
	<CartIcon class:list={["w-8 text-black dark:text-white"]} />
	<span
		id="cart-indicator"
		class="absolute top-0 right-0 translate-x-1/3 -translate-y-1/3 w-4 h-4 flex items-center justify-center pt-px text-xs text-white dark:text-black bg-black dark:bg-white rounded-full opacity-0 [.not-empty&]:opacity-100 [.not-empty&]:motion-preset-expand"
	></span>
</a>