---
const { id, name, theme = null } = Astro.props;

const darkClasses = "dark:border-black/30 dark:hover:border-white/60 dark:focus:ring-white/400";
const lightClasses = "border-white/30 hover:border-white/60 focus:ring-lime-400 ";
---

<div class="flex gap-2 leading-none">
	<input
		id={id}
		aria-describedby="comments-description"
		name={name}
		type="checkbox"
		class:list={['h-4 w-4 bg-transparent text-lime-600 focus:ring-lime-400 focus:ring-offset-0', 
		theme ? (theme === "dark" ? darkClasses : lightClasses) : darkClasses + " " + lightClasses]}
	/>
	<label for={id}><slot /></label>
</div>
