---
const { slug } = Astro.props;
---

<label
	class="group h-[3.125rem] border border-black/20 rounded-full px-5 cursor-pointer has-[:checked]:bg-black text-black has-[:checked]:text-white transition-default flex items-center justify-center"
>
	<input
		type="checkbox"
		class="sr-only filter-checkbox"
		id={`checkbox-${slug}`}
		value={slug}
		value="true"
		name="categories[]"
		class="hidden peer"
	/>
	<p class="text-black group-has-[:checked]:text-white select-none text-sm/[130%] xl:text-base/[130%]">
		<slot />
	</p>
</label>
