---
const { duration = "10s" } = Astro.props;
---

<div class="w-max flex h-full">
	<div class="marquee-content flex h-full items-center justify-around min-w-[120vw] 2xl:min-w-[1600px]">
		<slot />
	</div>
	<div class="marquee-content flex h-full items-center justify-around min-w-[120vw] 2xl:min-w-[1600px]">
		<slot />
	</div>
</div>

<style lang="css" define:vars={{ duration }}>
	.masked-marquee {
		--gradient: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
		-webkit-mask-image: var(--gradient);
		mask-image: var(--gradient);
	}

	@keyframes marquee {
		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}

	.marquee-content {
		transform: translateZ(0);
		animation: marquee var(--duration) linear infinite;
	}
</style>
