---
const { id } = Astro.props;
---

<script>
	$(".modal").array.forEach((modal: HTMLElement) => {
		// Close modal when clicking outside
		$(modal).on("click", (event: Event) => {
			if (event.target === modal) {
				$(modal).removeClass("opened");
			}
		});
		// Open modal when clicking on button
		// $(`#${modal.id}-button`).on("click", () => {
		// 	$(modal).addClass("opened");
		// 	$(".modal")
		// 		.array.filter((m: HTMLElement) => m !== modal)
		// 		.forEach((m: HTMLElement) => $(m).removeClass("opened"));
		// });
	});
</script>

<div
	id={id + "-modal"}
	class="modal fixed z-101 top-0 left-0 h-lvh w-full bg-black/20 flex items-center justify-center backdrop-blur-xs p-8 invisible opacity-0 [.opened&]:visible [.opened&]:opacity-100 transition-all duration-300 ease-out-cubic"
>
	<slot name="modal" />
</div>
