---
import { navLinks } from "@data";

import { getCurrentUrlPath } from "@utils";

import Logo from "@components/Logo.astro";
import ThemeToggle from "@components/ThemeToggle.astro";

const currentPath = Astro.url.pathname;
---

<script>
	$("nav a").each((link: HTMLAnchorElement) => {
		const current = window.location.href;
		$(link)[current === link.href ? "addClass" : "removeClass"]("underline");
	});
</script>

<nav
	id="navigation"
	class="navigation flex flex-col justify-between fixed top-0 left-0 w-full h-(--navbar-height) z-90 bg-gradient-to-b from-white dark:from-dark to-0"
>
	<div class="container h-full flex items-center justify-between relative">
		<a href="/" class="group/logo block z-[1]">
			<Logo class="w-(--padding-xl)" />
			<span class="sr-only">Home</span>
		</a>
		<ul
			class="navigation-links flex flex-row gap-lg lg:pointer-events-auto pointer-events-none w-full lg:h-full items-center justify-center"
		>
			{
				navLinks.map(({ name, url }, index) => (
					<li>
						<a
							href={url}
							class:list={[
								"hover:underline uppercase block text-lg",
								{ underline: getCurrentUrlPath(currentPath) === url },
							]}
						>
							{name}
						</a>
					</li>
				))
			}
		</ul>
		<div class="relative flex items-center">
			<ThemeToggle />
		</div>
	</div>
</nav>
