---
import { actions } from "astro:actions";
import Input from "@components/Input.astro";
import Button from "@components/Button.astro";

const result = Astro.getActionResult(actions.user.createUser);
---

<script>
	import { actions } from "astro:actions";

	$(`#register-modal-button`).on("click", () => {
		$("#register-modal").addClass("opened");
		$(".modal")
			.array.filter((m: HTMLElement) => m !== $("#register-modal").first)
			.forEach((m: HTMLElement) => $(m).removeClass("opened"));
	});

	$("#form-register").on("submit", async (event: SubmitEvent) => {
		event.preventDefault();
		const formData = new FormData($("#form-register").first as HTMLFormElement); // ??
		const { data } = await actions.user.createUser(formData);

		if (data) {
			$(document.documentElement).addClass("logged-in");
			let tl = setTimeout(() => {
				$(`#register-modal`).removeClass("opened");
				clearTimeout(tl);
			}, 1500);
		}
	});
</script>

<div
	class="w-full max-w-[30rem] min-h-[18rem] bg-black flex flex-col items-center justify-start gap-8 p-4 md:p-8 rounded-[4rem]"
>
	<h5 class="text-white uppercase">Register</h5>
	<form id="form-register" class="group/submit w-full flex-1 flex flex-col items-stretch justify-between gap-2">
		<Input
			id="register-first-name"
			required
			type="text"
			name="first_name"
			placeholder="First name"
			error={result?.error}
			theme="dark"
		/>
		<Input
			id="register-last-name"
			required
			type="text"
			name="last_name"
			placeholder="Last name"
			error={result?.error}
			theme="dark"
		/>
		<Input
			id="register-email"
			required
			type="email"
			name="email"
			placeholder="Email"
			error={result?.error}
			theme="dark"
		/>
		<Input
			id="register-password"
			required
			type="password"
			name="password"
			placeholder="Password"
			error={result?.error}
			theme="dark"
		/>
		<Button type="submit" class="invert dark:invert-0 w-full logged-in:pointer-events-none">
			<div
				class="flex flex-col items-center justify-end translate-y-3 logged-in:-translate-y-2.5 transition-transform duration-300 ease-out-cubic"
			>
				<span class="opacity-100 logged-in:opacity-0 transition-opacity duration-300 ease-out-cubic"
					>Sign up</span
				>
				<span class="opacity-0 logged-in:opacity-100 transition-opacity duration-300 ease-out-cubic"
					>Success</span
				>
			</div>
		</Button>
	</form>
</div>
