---
import { Image } from "astro:assets";
import { formatDate } from "@lib/utils";
import ArrowIcon from "@assets/icons/arrow.svg";

const { title, slug, url, cover, date, author, class: className, ...props } = Astro.props;
---

<a
	href={url ? url : slug}
	target={url ? "_blank" : "_self"}
	class:list={[
		"card group w-full cursor-pointer select-none aspect-[33.5/39] sm:aspect-43/50 flex flex-col items-start justify-between dark:bg-black/10 dark:backdrop-blur-sm red:bg-black/10 red:backdrop-blur border rounded-sm overflow-hidden border-black/20 dark:border-white/20 red:border-white/20",
		className,
	]}
	{...props}
>
	<div class="h-1/2 w-full relative transition-[height] duration-300 ease-out-cubic overflow-hidden">
		<Image
			src={cover}
			alt={cover?.title || "cover image for resource"}
			width={cover?.width || 420}
			height={cover?.height || 420}
			widths={[420, 720, cover?.width]}
			sizes={`(max-width: 400px) 420w, (max-width: 768px) 720w, ${cover?.width}w`}
			quality={100}
			loading="lazy"
			class="absolute inset-0 w-full h-full object-cover pointer-events-none"
		/>
	</div>

	<div
		class="flex flex-1 flex-col h-auto items-start p-[clamp(1.375rem,1.7vw,2rem)] w-full justify-between transition-default group-hover:bg-white"
	>
		<div class="flex flex-col items-start justify-start gap-[clamp(1rem,1vw,1.5rem)] w-full will-change-transform">
			<div class="flex items-center justify-between w-full flex-row">
				<p class="small text-black dark:text-white red:text-white group-hover:text-black">
					{formatDate(date, { day: "numeric", month: "numeric", year: "numeric" })}
				</p>
				{
					author && (
						<p class="small text-black dark:text-white red:text-white group-hover:text-black">
							{author.first_name + " " + author.last_name}
						</p>
					)
				}
			</div>
			<p
				class="group-hover:text-black text-black dark:text-white transition-default line-clamp-4 md:line-clamp-2 text-ellipsis overflow-hidden"
			>
				{title}
			</p>
		</div>
		<div
			class:list={[
				"relative flex flex-row items-center overflow-hidden cursor-pointer select-none group-hover:text-black text-black dark:text-white transition-default",
				className,
			]}
			{...props}
		>
			<ArrowIcon
				class="absolute left-0 top-1/2 -translate-y-1/2 -translate-x-full h-[clamp(0.625rem,0.775vw,0.875rem)] group-hover:translate-x-0 transition-transform duration-300 ease-out-cubic"
			/>
			<div
				class="flex flex-row items-center gap-5 text-[clamp(0.875rem,1.05vw,1.25rem)] group-hover:translate-x-[2.125rem] transition-transform duration-300 ease-out-cubic will-change-transform"
			>
				Explore
				<ArrowIcon class="h-[clamp(0.625rem,0.775vw,0.875rem)]" />
			</div>
		</div>
	</div>
</a>
